header {
    width: 100%;
    position: fixed;
    top: 50%;
    right: 5%;
    text-align: right;
}

h1 {
    font-weight: bold;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}


