@mixin sardines {
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: $unit;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 50%;
    max-width: 50%;
    margin: 0;
    padding: 0 $unit 0 $unit;

    &:first-child {
        padding-right: $unit*2;
    }

    @media #{$tablet} {
        flex:100%;
        max-width: 100%;

        &:first-child {
            padding-right: $hspace;
        }
    }

}

.column {
    .cell {
        img, iframe {
            @include sardines;
            background-color: black;
            border: 0;
            padding: 0;
            margin: 0;
            vertical-align: middle;
        }
        p {
            @include sardines;
            &.brand {
                @include font;
                margin-top: 7px;
            }
        }
        padding: 0;
        margin: 0 0 $unit/2*3 0;

        &:first-child {
            margin-top: $unit*2;
        }

        @media #{$tablet} {
            &:last-child {
                margin: 0;
            }
        }
    }
}

